/* PAGE BACKGROUND */
.login-page {
  min-height: 100vh;
  width: 380%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Poppins", sans-serif;
  background: linear-gradient(135deg, #667eea, #764ba2);
}

/* LOGIN CARD */
.login-card {
  width: 90%;
  max-width: 420px;
  padding: 50px 35px;
  border-radius: 20px;
  background: rgba(255, 255, 255, 0.12);
  backdrop-filter: blur(18px);
  box-shadow: 0 25px 50px rgba(0, 0, 0, 0.35);
  text-align: center;
  animation: fadeIn 0.6s ease;
}

/* TITLE */
.login-card h1 {
  font-size: 42px;
  color: white;
  margin-bottom: 35px;
  font-weight: 600;
}

/* INPUT FIELDS */
.login-card input {
  width: 100%;
  padding: 16px;
  margin-bottom: 18px;
  border-radius: 12px;
  border: none;
  outline: none;
  font-size: 15px;
  background: rgba(0,0,0,0.45);
  color: white;
  transition: 0.3s;
}

.login-card input::placeholder {
  color: #bbb;
}

/* INPUT FOCUS EFFECT */
.login-card input:focus {
  background: rgba(0,0,0,0.65);
  box-shadow: 0 0 0 2px #22c55e;
}

/* BUTTON */
.login-btn {
  width: 100%;
  padding: 16px;
  border-radius: 12px;
  border: none;
  font-size: 18px;
  font-weight: 600;
  color: white;
  cursor: pointer;

  background: linear-gradient(135deg, #22c55e, #16a34a);
  box-shadow: 0 10px 25px rgba(34,197,94,0.4);

  transition: 0.3s;
}

/* BUTTON HOVER */
.login-btn:hover {
  transform: translateY(-3px) scale(1.03);
  box-shadow: 0 15px 30px rgba(34,197,94,0.6);
}

/* SMALL FADE ANIMATION */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* MOBILE RESPONSIVE */
@media (max-width: 500px) {
  .login-card {
    padding: 40px 25px;
  }

  .login-card h1 {
    font-size: 34px;
  }
}
