.teacher-dashboard {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170%;

  background: linear-gradient(135deg, #0f2027, #203a43, #2c5364);
  font-family: "Poppins", sans-serif;
  color: white;
}

/* CENTER BOX */
.teacher-content {
  text-align: center;
}

/* TITLE */
.teacher-title {
  font-size: 52px;
  font-weight: 700;
  margin-bottom: 10px;
}

/* SUB TEXT */
.teacher-sub {
  font-size: 20px;
  margin-bottom: 25px;
  opacity: 0.8;
}

/* CLASS BUTTON GROUP */
.class-buttons {
  display: flex;
  justify-content: center;
  gap: 18px;
  margin-bottom: 35px;
}

/* CLASS BUTTON */
.class-buttons button {
  background: rgba(255,255,255,0.15);
  border: none;
  padding: 14px 26px;
  border-radius: 12px;
  color: white;
  font-size: 16px;
  cursor: pointer;
  backdrop-filter: blur(10px);
  transition: 0.3s;
}

.class-buttons button:hover {
  background: #22c55e;
  transform: scale(1.05);
}

/* MANAGE BUTTON */
.manage-btn {
  background: #22c55e;
  border: none;
  padding: 14px 32px;
  border-radius: 12px;
  font-size: 18px;
  color: white;
  cursor: pointer;
  transition: 0.3s;
}

.manage-btn:hover {
  background: #16a34a;
  transform: scale(1.05);
}
